@using RealEstateDapperUI.Dtos.ProductDtos
@model List<ResultLast3ProductDto>

<section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Son 3 İlan</h3>
            <div class="row mt-lg-5 mt-4 pt-3">
                @foreach(var item in Model)
                {
                        <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <span class="posted-date">
                                <a href="#blog-single">
                                    <span class="small">@item.Price TL</span>
                                </a>
                            </span>
                            <a href="/Property/PropertySingle/@item.ProductId" class="d-block zoom"><img src="@item.CoverImage" height="250" alt="" /></a>
                            <div class="blog-info">
                                <a href="#category" class="category">@item.District - @item.City</a>
                                    <h4><a href="/Property/PropertySingle/@item.ProductId">@item.Title</a></h4>
                                <p>@item.Address</p>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </section>