@using RealEstateDapperUI.Dtos.ProductDetailDtos
@model List<ResultProductDetailDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="bg-light rounded h-100 p-4">
    <h1>İlanların Detayları</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">İlan Adı</th>
                <th scope="col">Genişlik</th>
                <th scope="col">Oda</th>
                <th scope="col">Banyo</th>
                <th scope="col">Garaj</th>
                <th scope="col">İnşa Yılı</th>
                <th scope="col">Avantajlar</th>
                <th scope="col">Sil</th>
                <th scope="col">Düzenle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.ProductDetailId</th>
                    <td>@item.Title</td>
                    <td>@item.Size</td>
                    <td>@item.RoomCount</td>
                    <td>@item.BathCount</td>
                    <td>@item.GarageSize</td>
                    <td>@item.BuildYear</td>
                    <td><a href="/ProductDetail/DeleteProductDetail/@item.ProductDetailId" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Amenity/Index/@item.ProductDetailId" class="btn btn-outline-success">Avantajlar</a></td>
                    <td><a href="/ProductDetail/UpdateProductDetail/@item.ProductDetailId" class="btn btn-warning">Düzenle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />

<div style="display: justify-content; float: right;">
    <a href="/Product/Index" class="btn btn-outline-primary">İlanlara Geri Dön</a>
</div>
<br />
<br />