@using RealEstateDapperUI.Dtos.MessageDtos
@model List<ResultMessageByUserIdDto>

@{
    ViewData["Title"] = "SentMessages";
    Layout = "~/Areas/EstateAgent/Views/LayoutEstateAgent/Index.cshtml";
}

<h1>Gelen Tüm Mesajlar</h1>

@foreach (var item in Model)
{
    <div style="border: 1px solid black;">
        <br />
        <div class="d-flex align-items-center border-bottom py-3" style="margin: 10px;">
            <img src="@item.ImageUrl" height="50" width="50"/>
            <h6 class="title-small" style="margin-left: 20px;">@item.UserName</h6>
        </div>
        <h3 class="title-big" style="margin: 10px;">@item.Subject</h3>

        <p class="mt-3" style="margin: 10px;">@item.SendDate</p>
        <p class="mt-3" style="margin: 10px;">@item.Detail</p>

        <br />
    </div>
    <br />
    <br />
}